<%- include('partials/head') %>

<h1>Characters</h1>

<section class="main-container">
    <section class="main-overview">
        <% overview.forEach(character => { %>
            <a class="card" href="/m/characters/<%= character.id %>">
                <img class="card-thumbnail" src="<%=  `${character.thumbnail.path}.${character.thumbnail.extension}` %>" alt="Character Thumbnail">
                <h5 class="card-title"><%= character.name %></h5>
            </a>
        <% }) %>
    </section>
</section>

<%- include('partials/footer') %>