<%- include('partials/head') %>

<section class="main-container">
    <h1>Comics</h1>
    <section class="main-overview">
        <% overview.forEach(comic => { %>
            <a class="card" href="/m/comics/<%= comic.id %>">
                <img class="card-thumbnail" src="<%=  `${comic.thumbnail.path}.${comic.thumbnail.extension}` %>" alt="Comic Thumbnail">
                <h5 class="card-title"><%= comic.title %></h5>
            </a>
        <% }) %>
    </section>
</section>

<%- include('partials/footer') %>