<%- include('partials/head') %>

<section class="main-container">
    <h2>Comics</h2>
    <section class="main-overview">
        <% modifiedOverview.forEach(comic => { %>
            <a class="card" href="/m/comics/<%= comic.id %>">
                <img class="card-thumbnail" src="<%=  `${comic.img}` %>" alt="Comic Thumbnail">
                <h5 class="card-title"><%= comic.name %></h5>
            </a>
        <% }) %>
    </section>
</section>

<%- include('partials/footer') %>