<%- include('partials/head') %>
<section class="detail-container">
    <img src="<%= `${modifiedDetail.img}` %>" alt="Comic Thumbnail">
    <h3><%= modifiedDetail.name %></h3>
    <p><%= modifiedDetail.description%></p>
    <a href="/m/comics">Go back</a>
</section>
<%- include('partials/footer') %>