<%- include('partials/head') %>

<section class="main-container">
    <h2>Events</h2>
    <section class="main-overview">
        <% modifiedOverview.forEach(event => { %>
            <a class="card" href="/m/events/<%= event.id %>">
                <img class="card-thumbnail" src="<%= `${event.img}` %>" alt="Event Thumbnail">
                <h5 class="card-title"><%= event.name %></h5>
            </a>
        <% }) %>
    </section>
</section>

<%- include('partials/footer') %>