<%- include('partials/head') %>
<section class="detail-container">
    <img src="<%= `${modifiedDetail.img}` %>" alt="Serie Thumbnail">
    <h1><%= modifiedDetail.name %></h1>
    <p><%= modifiedDetail.description%></p>
    <a href="/m/events">Go back</a>
</section>
<%- include('partials/footer') %>