<%- include('partials/head') %>
<section class="detail-container">
    <img src="<%= `${detail.thumbnail.path}.${detail.thumbnail.extension}` %>" alt="Character Thumbnail">
    <h1><%= detail.name %></h1>
    <p><%= detail.description %></p>
    <a href="/m/series">Go back</a>
</section>
<%- include('partials/footer') %>