<%- include('partials/head') %>
<section class="detail-container">
    <img src="<%= `${modifiedDetail.img}` %>" alt="Character Thumbnail">
    <h1><%= modifiedDetail.name %></h1>
    <p><%= modifiedDetail.description %></p>
    <a href="/m/series">Go back</a>
</section>
<%- include('partials/footer') %>